@import "../src/config/color.scss"; // Import color variables

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgb(179, 179, 179);
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  button {
    background-color: $button-background;
    color: $button-color;
    padding: 10px 0; /* Adjust padding */
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: darken($button-background, 10%);
    }
  }
  .auth-btn {
    width: 100%;
  }
}
