/* Define styles for the popup container, popuptext, and animation */
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;

    .popuptext {
      visibility: hidden;
      width: 50px;
      background-color: #9dd813;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 8px 0;
      position: absolute;
      z-index: 1;
      bottom: 125%;
      left: 50%;
      margin-left: -40px;

      &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
      }

      &.show {
        visibility: visible;
        animation: fadeIn 1s;
      }
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

}