// Materials.scss

// Import SCSS variables
@import "../../config/color.scss";

.materials {

  width: 100%;
  height: calc(100vh - 0px);
  background: linear-gradient(to bottom,
      rgba(214, 207, 207, 0) 0%,
      rgb(240, 236, 236) 100%);
  background-size: cover;
  position: relative;
  display: flex;


  .left-section {
    flex: 1;
    padding: 20px;
    margin-top: 70px;

    .video-player {
      position: relative;
      padding-bottom: 56.25%;
      /* 16:9 aspect ratio */
      height: 500px;


      video {

        border: 1px solid #ddd;
      }
    }

    .video-iframe {
      position: absolute;
      background-color: $dark-color;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }


  }

  .right-section {
    flex: 1;
    padding: 20px;

    .materials-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin-top: 100px;
      gap: 20px;

      .my-learning-heading {
        font-size: large;
        color: $primary-color;
      }


      .material-item {

        margin-bottom:0px;
        width: 100%;
        border: 1px solid #ddd;
        border-radius: 4px;
        overflow: hidden;
       

        .material-header {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          color: $primary-color;
          font-size: small;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          margin-left: 5px;
          margin-top: 7px;
          .dropdown-button-container {
            margin-left: auto;

           
          }
         
        }
      }

      .material-note,
      .material-video {
        display: flex;
        margin-bottom: 10px;
      }

      .material-note h3,
      .material-video h3 {
        margin: 0 0 5px 0;
      }
      .headline{
        font-size: 14px;
        font-weight: lighter;
        margin-left: 2px;
      }
    }

    .material-button {
      background-color: $soft-bg;
      color: $dark-color;
      margin-left: auto;
      padding: 5px 10px;
    }
  }

  .dropdown-button {
    background-color: $dark-color;
  }
}