.horizontal-slide-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  max-width: calc(100vw - 10px);
  .scroll-button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 0 10px;
    color: #333;
    transition: color 0.3s;
  overflow-x: scroll;

    &:hover {
      color: #555;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  .horizontal-slide {
    overflow-x: hidden;
    width: 100%;
    margin: 0 20px;
    position: relative;

    .slides {
      display: flex;
      transition: transform 0.3s;
    }

    .slide {
      width: 300px;
      margin-right: 20px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;

      .preview-image {
        width: 100%;
        height: 200px;
        overflow: hidden;
        border-radius: 10px;
        margin-bottom: 10px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .class-details {
        text-align: center;

        h3 {
          margin-bottom: 10px;
        }

        p {
          margin-bottom: 15px;
        }

        .action-button {
          background-color: #4d2c5e;
          color: #fff;
          border: none;
          padding: 10px 20px;
          border-radius: 5px;
          font-size: 16px;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: #72219b;
          }

          &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
          }
        }
      }
    }
  }
}
