@import "../../config/responsive.scss";

.pieChartBox {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h1 {
    @include xxl {
      font-size: 24px;
    }
  }
  .chart {
    display: flex;
    align-items: center;
    justify-content: center;
 
  }

  .options {
    display: flex;
    flex-wrap: wrap; // Allow options to wrap
    justify-content: center; // Center the options horizontally
    gap: 10px;
    font-size: 14px;

    .option {
      display: flex;
      align-items: center;

      .title {
        display: flex;
        gap: 10px;
        align-items: center;

        .dot {
          width: 10px;
          height: 10px;
          border-radius: 50%;
        }
      }
    }
  }
}
