@import '../../config/color.scss'; // Import color variables

.wishlist {
  margin-top: 0px;
  position: relative;

  .wishlist-container {
    width: 90%; /* Set the width to 90% */
    color: $primary-color; // Use text color variable
    position: absolute;
    top: 100px;
    left:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self:center;
    gap:20px;
  .wishlist-table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    .wishlist-header {
      display: table-header-group;
      font-weight: bold;
      color: $primary-color; // Use primary color variable
    }

    .header-cell,
    .cell {
      display: table-cell;
      padding: 10px;
      border-bottom: 1px solid #ccc;
    }

    .wishlist-container .day-highlight {
      color: blue; /* Use your preferred color */
    }

    .available {
      color: green; // Use green color for availability
    }

    .wishlist-item {
      display: table-row;
    }

    .wishlist-item:hover {
      background-color: #f5f5f5; /* Change background color on hover */
    }

    .add-to-cart-btn {
      background-color: $primary-color; // Use primary color variable
      color: #fff;
      border: none;
      padding: 8px 16px;
      border-radius: 4px;
      cursor: pointer;
    }

    .add-to-cart-btn:hover {
      background-color: darken($primary-color, 10%); // Darken primary color on hover
    }
  }
}

/* Responsive Styling */
@media only screen and (max-width: 768px) {
  .wishlist-header {
    display: none; /* Hide the header cells on smaller screens */
  }
.wishlist-container{
  width:  calc(100vh - 100px);
  .wishlist-item {
    width:calc(100vh - 100px);
    display: block;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }

  .cell {
    display: block;
    padding: 10px;
  }

  .cell span {
    display: block;
  }

  .cell:nth-child(odd) {
    font-weight: bold;
  }

  .add-to-cart-btn {
    float: none; /* Center the button on smaller screens */
    margin: 20px auto; /* Center the button horizontally */
  }
}
}
}
