// colors.scss

$primary-color: #4d2c5e;
$background-color: #ffffff;
$calendar-background: #f0f0f0;
$input-background: #ffffff;
$input-border: #ffffff;
$select-background: #f8f8f8;
$select-option-background: #d8cdde;
$select-option-color: #010101;
$select-option-hover-background: #f0f0f0;
$select-option-selected-background: #e0e0e0;
$button-color: #ffffff;
$button-background: #4d2c5e;
$text-color: white;
$textarea-border: #ccc;
$textarea-focus-border: #007bff;
$error-color: red;
// BG
$main-bg: #2a3447;
$soft-bg: #d8d9db;
$dark-bg: #222b3c;
//TEXT
$main-color: white;
$soft-color: #ddd;
$dark-color: #2a3447;