@import '../../../../config/color.scss';
.add-subject{
  display: flex;
  flex-direction: column;
  .add-subject-container {
    max-width: 1000px;
    margin:  auto;
    margin-top: 170px;
    padding: 20px;
    border: 1px solid $input-border;
    border-radius: 5px;
    background-color: $select-background;
  
    h2 {
      text-align: center;
    }
  
    .selection-container {
      width:500px;
      margin-bottom: 20px;
    }
  
    label {
      display: block;
      margin-bottom: 5px;
      color: $primary-color;
    }
  
    select,
    input[type="text"] {
      width: 100%;
      padding: 8px;
      border: 1px solid $input-border;
      border-radius: 5px;
      box-sizing: border-box;
      margin-bottom: 10px;
      background-color: $input-background;
    }
  
    .error {
      color: $error-color;
      margin-top: 5px;
    }
  
  }
}

.add-subject-btn {
    width: 100%;
    background-color: $button-background;
    color: $button-color;
    padding: 10px 0; /* Adjust padding */
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: darken($button-background, 10%);
    }
  }