@import '../../config/color.scss';

.footer {
  width: 100%;
  height: auto;
  background: linear-gradient(180deg, $primary-color 100%, $background-color 100%);
  color: $text-color;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  
  .footerDescription {
    width: 100%;
    /* Adjust width to 100% for responsiveness */
    padding: 20px;
    /* Add padding for better spacing */
    text-align: center;
    /* Center-align text */
    .footer-message{
      font-size: 12px;
      margin-bottom: 10px;
    }
  }

  .footerLinks,
  .footerContact,
  .location {
    width: 100%;
    /* Adjust width to 100% for responsiveness */
    padding: 20px;
    /* Add padding for better spacing */
    text-align: center;
    /* Center-align text */
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    /* Remove default padding */
  }

  .copyright {
    width: 100%;
    height: 25px;
    background-color:black;
    margin-top: 10px;
    text-align: center;
    /* Center-align text */
    padding: 10px 0;
    /* Add padding for better spacing */
    position: absolute;
    bottom: 0;
  }
}

  @media (min-width: 768px) {
    .footer {
      flex-direction: row;
      width: 100%;
      height: auto;
      align-items: center;
      .copyright {
        position: absolute;
        order: 99;
        /* Set a higher order to move the copyright section to the bottom */
      }

      .footerDescription,
      .footerLinks,
      .footerContact,
      .location {
        width: 25%;
        /* Divide sections equally for larger screens */
        text-align: left;
        /* Left-align text for larger screens */
      }

      ul {
        flex-direction: row;
        /* Adjust list items layout for larger screens */
        gap: 20px;
        /* Increase gap between list items for larger screens */
      }
    }
  }
