/* Define primary and error colors */
$primary-color: #4d2c5e;
$error-color: #ff6347;

/* Form container */
.form {
  width: calc(100vw - 70px);
  margin: 0 auto;
  padding: 20px;
  background-color: #b0abb4;

}

label {
  margin-bottom: 5px; // Add some spacing below the label
  color: #625f5f
}

.title {
  width: calc(100vw - 300px);
}

/* Form title */
.form-title {
  font-size: 24px;
  font-weight: bold;
  width: calc(100vw - 200px);
  color: $primary-color;
  margin-bottom: 20px;
}

/* Input fields */
.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.input-field:focus {
  outline: none;
  border-color: $primary-color;
}

.basic-info {
  width: calc(100vw - 350px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px
}

.slot {
  width: calc(100vw - 350px);
  display: flex;
  justify-content: center;
  gap: 100px;

  .select {
    margin-bottom: 14px;
  }
}

.finance {
  width: calc(100vw - 350px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px
}
.promotion_video{
  width: calc(100vw - 350px);
  display: flex;
  align-items: center;
  // justify-content: center;
  gap: 20px
}

.discription {
  width: calc(100vw - 350px);
}

// /* Error message */
.error-message {
  color: $error-color;
  font-size: 14px;
  margin-top: 5px;
}

.btnSubmit {
  margin-right: 480px;
}

/* Button */
.button {
  background-color: $primary-color;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;


}

.button:hover {
  background-color: darken($primary-color, 10%);
}

/* Form animation */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Apply animation to the form */
.form {
  animation: slideInFromLeft 0.5s ease-in-out;
}

.image-upload-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.image-preview {
  position: relative;
}

.image-preview img {
  max-width: 200px;
  max-height: 200px;
}

.image-preview input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

// img {
//   width: 70px;
//   height: 70px; 
//   border-radius: 50%;
//   cursor: 'pointer';
// }