.sidebar {
  flex: 3;
  height: calc(100vh - 50px);
  overflow-y: scroll;
  position: sticky;
  top: 50px;

  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgb(179, 179, 179);
  }
}

.sidebarWrapper {
  padding: 20px;
}

.sidebarList {
  padding: 0;
  margin: 0;
  list-style: none; /* Removing default list style */
}

.sidebarListItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: relative; /* Adding relative position to handle sub-menu */
}
.sidebarListItemText {
  text-decoration: none; /* Removes underline */
  color: black; /* Changes the color of the link */
}

.sidebarIcon {
  margin-right: 15px;
}

.sidebarButton {
  width: 150px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
}

.subMenu {
  list-style: none;
  padding: 0;
  position: absolute;
  top: 100%; /* Positioning sub-menu below the main item */
  left: 10px; /* Adjusted to move sub-menu a little bit from the left */
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adding box-shadow for better visibility */
  z-index: 100; /* Ensure sub-menu appears on top */
  margin-top: 5px; /* Added margin-top to create space between submenus */
}


.subMenuItem {
  padding: 8px 20px;
}

.subMenuItem:hover {
  background-color: #e4e4e4; /* Changing background color slightly on hover */
}
