@import "../../config/color.scss";
.chatOnline-page{
overflow-y: scroll;
  .chatOnlineFriend {
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;
    .chatOnlineImgContainer {
      position: relative;
      margin-right: 10px;
  
      .chatOnlineImg {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        border: 1px solid white;
      }
      .chatOnline-page {
        background-color: $soft-bg;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    
      
      }
      .chatOnlineBadge {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        // background-color: limegreen;
        position: absolute;
        top: 2px;
        right: 2px;
      }
      .chatOnlineBadge.online {
background-color: limegreen;
}

.chatOnlineBadge.offline {
background-color: darkgray;
}
    }
    .chatOnlineName{
      color:green;
    }
  
    @media screen and (max-width: 768px) {
      .chatOnlineName {
        display: none;
      }
    }
  }
}