// // Course.scss
// .course-page {
//   display: flex;
//   flex-direction: column;
//   height: 100vh; /* Set full height of the viewport */
// }

// .content-wrapper {
//   flex-grow: 10; /* Allow the content to grow and occupy remaining space */
//   display: flex;
// }
  
//   /* Adjustments for Topbar and Navbar if necessary */
  

// Course.scss
.course-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Set minimum height of the viewport */
}

// .navbar {
//   /* Add styles for Navbar if necessary */
// }

.topbar {
  /* Add styles for Topbar */
  position: sticky; /* Make the Topbar stick to the top */
  top: 68px; /* Position it at the top of the viewport */
  margin-bottom: 20px;
  z-index: 1000; /* Ensure it's above other content */
}

.content-wrapper {
  flex-grow: 1; /* Allow the content to grow and occupy remaining space */
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}
