.search-container {
  position: relative;


.search-input {
  padding: 10px 30px; /* Adjust padding to your preference */
  border-radius: 20px; /* Make the sides curved */
  border: 2px solid #ccc; /* Add border for visual separation */
  width: 300px; /* Adjust width as needed */
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust right spacing as needed */
  transform: translateY(-50%);
  cursor: pointer;
  color: #4d2c5e;
}

@media (max-width: 950px) and (min-width: 861px) {
  .search-input {
    width: calc(100% - 50px); /* Reduce width gradually between 900px and 861px */
    margin-left: 40px;
  }
}

@media (max-width: 860px) {
  .search-input {
    margin-left: 10px;
    width: calc(100% - 10px); /* Further reduce width below 860px */
    
  }
  .search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #4d2c5e;
  }
}
}